<br>
<h5 align="center">Despite there are more tipes of bikes, here is told
  only about MTB and Road bikes as the most common</h5>
<div class="container">
  <p><br><br></p>
  <h1 align="center">Road Bike Vs Mountain Bike</h1>
  <p><br></p>

  <div class="row">
    <div class="col-md-6 bg-transparent">
      <article>
        <p>
          <b>Mountain Bikes</b> – Rugged machines with flat handlebars and wide,
          knobby tires for riding narrow dirt trails. Styles include hardtail,
          full-suspension cross country, full-suspension trail, and full-suspension enduro.
          <br>
        </p>
      </article>
    </div>

    <div class="col-md-6 bg-transparent">
      <article>
        <p>
          <b>Road Bikes</b> – Lightweight, efficient bikes with drop handlebars
          and narrow tires for recreational riding on pavement. Styles include
          race and endurance.
          <br>
        </p>
      </article>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 bg-transparent">
      <article>
        <p align="center">
          <youtube-player
            videoId="Q5RLdtsEu0w"
            suggestedQuality="highres"
            [height]="360"
            [width]="480"
            [startSeconds]="52"
            [endSeconds]="725">
          </youtube-player>
        </p>
      </article>
    </div>

      <p><br><br></p>

    <div class="col-xl-6 bg-transparent">
      <article>
        <p align="center">
          <youtube-player
            videoId="vvGjtNAUkcw"
            suggestedQuality="highres"
            [height]="360"
            [width]="480"
            [startSeconds]="24"
            [endSeconds]="903">
          </youtube-player>
        </p>
      </article>
      <p><br><br></p>
    </div>

  </div>

  <h1 align="center">Guide to buying a bike</h1>
    <br>
    <ul>
      <li>Know your budget</li>
      <li>Choose the right size</li>
      <li>What are you going to use your bike for</li>
      <li>Components</li>
    </ul>
  <p style="color:red;">Don't forget about protection! <br>
    At least <b>healmet</b> and <b>lights</b> (if you are going to ride on the motorway).</p>

  <p><br></p>

  <div class="row">
    <div class="col-xl-6 bg-transparent">
      <article>
        <h3 align="center">How to buy an MTB</h3>
        <p align="center">
          <br>
          <youtube-player
            videoId="Y_xiq2mczX4"
            suggestedQuality="highres"
            [height]="360"
            [width]="480"
            [startSeconds]="20"
            [endSeconds]="964">
          </youtube-player>
        </p>
      </article>
    </div>

    <p><br><br></p>

    <div class="col-xl-6 bg-transparent">
      <article>
        <h3 align="center">How to buy a road bike</h3>
        <p align="center">
          <br>
          <youtube-player
            videoId="_T7NTe3uBN4"
            suggestedQuality="highres"
            [height]="360"
            [width]="480"
            [startSeconds]="67"
            [endSeconds]="910">
          </youtube-player>
        </p>
      </article>
      <p><br><br></p>
    </div>

  </div>

</div>
