<div class="container" xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:margin-top="http://www.w3.org/1999/xhtml"
     xmlns:text-align="http://www.w3.org/1999/xhtml">
    <p><br><br><br></p>
    <h1 align="center">MTB cupa Moldovei 2020</h1>
    <p><br><br></p>
    <div class="row">
      <div class="col-md-6 bg-transparent">
        <article>
          <h2>Etapa I Orheiul Vechi XCM</h2>
          <p><br></p>
          <img src="../assets/img/XCM.png" height="200px" hspace="20">
          <p>Maratonul Orheiul Vechi XCM 2020 se va desfășura Sâmbătă 02 mai 2020, în rezervația cultural-naturală „Orheiul Vechi”</p>
          <p>Detalii: <a href="https://mtb.md/">mtb.md</a></p>
        </article>
      </div>
        <p><br><br></p>
      <div class="col-md-6 bg-transparent">
        <article>
          <h2>Etapa II Velopower MTB Race</h2>
          <p><br></p>
          <img src="../assets/img/velo2.jpg" height="200px" hspace="20">
          <p>28 iunie 2020 – Velopower MTB Race – Localitatea Carligele – Vrancea</p>
          <p>Detalii: <a href="http://velopower.ro/">velopower.ro</a></p>
        </article>
        <p><br><br></p>
      </div>

      <div class="col-md-6 bg-transparent">
        <article>
          <h2>Etapa III XC Maraton Bacau 2020</h2>
          <img src="../assets/img/xc-maraton-bacau.jpg" height="200px" hspace="20">
          <p><br></p>
          <p>Data: 25 iulie 2020 Locatie: Bacau</p>
          <p>Detalii: <a href="xcmaratonbacau.ro">xcmaratonbacau.ro</a></p>
          <p><br><br></p>
        </article>
      </div>
      <div class="col-md-6 bg-transparent">
        <article>
          <h2>Etapa IV MTB Marathon Zemes</h2>
          <p><br></p>
          <img src="../assets/img/ZEMES-MTB-2020.jpg" height="200px">
          <p>13 Iunie 2020 – MTB Roman MTB – Localitatea Roman – Neamt</p>
          <p>Detalii: <a href="https://zemesxco.ro/">https://zemesxco.ro/</a></p>
        </article>
        <p><br><br></p>
      </div>
    </div>
  </div>

